{% extends 'base.html' %}

{% block content %}
<h2>Update a Member</h2>

<form action="/members/{{ member.id }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ member.name }}">

        <label for="membertype">Type:</label>
        <select id="membertype" name="membertype">
            <option value="premium">Premium</option>
            <option value="standard">Standard</option>
    </select>

    <div class="submit">
        <input type="submit">
    </div>
</form>
{% endblock %}