{% extends 'base.html' %}

{% block content %}
<h2>Add a New Member</h2>

<form action="/members" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="membertype">Type:</label>
        <select id="membertype" name="membertype">
            <option value="premium">Premium</option>
            <option value="standard">Standard</option>
    </select>
    <div class="submit">
        <input type="submit">
    </div>
</form>
{% endblock %}