{% extends 'base.html' %}

{% block content %}
<h2>Update a Class</h2>

<form action="/classes/{{ gymclass.id }}" method="POST">
    <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ gymclass.name }}">

    <label for="date">Date:</label>
        <input type="text" id="date" name="date" value="{{ gymclass.date }}">

    <label for="time">Time:</label>
        <input type="text" id="time" name="time" value="{{ gymclass.time }}">

    <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity" value="{{gymclass.capacity}}">
    
        <label for="details">Details:</label>
        <textarea id="details" name="details" rows="5" cols="15" value="{{ gymclass.details }}">
        </textarea>

    <label for="peak">Type:</label>
        <select id="peak" name="peak">
            <option value="peak_true">Peak</option>
            <option value="peak_false">Offpeak/option>
    </select>
    
    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}