{% extends 'base.html' %}

{% block content %}
<h1>Classes</h1>

<table>
  <tr>
    <th>Class name</th>
    <th>Class date</th>
    <th>Class time</th>
    <th>Class capacity</th>
    <th>Class details</th>
  </tr>

  {% for class in gymclasses %}
  <tr>
    <td><a href="/classes/{{ class.id }}/bookings"> {{class.name}} </a> </td>
    <td>{{class.date}}</td>
    <td>{{class.time}}</td>
    <td>{{class.capacity}}</td>
    <td>{{class.details}}</td>
    <td><a href="/classes/{{ class.id }}/edit"> <button id=edit >Edit</button></a></td>
    <td><a href="/classes/{{ class.id }}/book"> <button id=book >Book Member</button></a></td>
    {% endfor %}
  </tr>
  </table>

  <a class="createclass" href="/classes/new"><button class="createclass">Create class</button></a>

{% endblock %}