{% extends 'base.html' %}

{% block content %}
<h2>Add a New Class</h2>

<form action="/classes" method="POST">
    <label for="name">Name:</label>
        <input type="text" id="name" name="name">

    <label for="date">Date:</label>
        <input type="text" id="date" name="date">

    <label for="time">Time:</label>
        <input type="text" id="time" name="time">

    <label for="details">Details:</label>
        <textarea id="details" name="details" rows="5" cols="15">
        </textarea>
    
    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}