{% extends 'base.html' %}

{% block content %}
<h2>Add a New Class</h2>

<form action="/classes" method="POST">
    <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        

    <label for="date">Date:</label>
        <input type="text" id="date" name="date">
        

    <label for="time">Time:</label>
        <input type="text" id="time" name="time">

    <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity">
       
    <label for="details">Details:</label>
        <textarea id="details" name="details" rows="2" cols="15">
        </textarea>

    <label for="peak">Type:</label>
        <select id="peak" name="peak">
            <option value="True">Peak</option>
            <option value="False">Offpeak</option>
    </select>
    
    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}