body {
background-image: url(/static/1087589.jpg);


}
header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: whitesmoke;
    padding: 15px;
    padding-bottom: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

header > h1 {
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-shadow: 0 0 0.15em #1da9cc;
    filter: blur(0.010em);
    
}


nav > ul {
    margin-bottom: none;
}

nav > ul > li {
display: inline;
list-style-type: none;
}

nav > ul > li > a:visited{
    color: white
}

button {
    background-color:lightskyblue;
    border-radius: 8px;
    
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: snow;
  } 

 h1, h2 {
      color: white;
     
  }

  form {
      background:snow;
      background-size:  ;
  }

footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: whitesmoke;
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin-top: 50px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
      }


.createclass {
    margin-top: 30px;
    width: 25%;
    height: 30px;
    background-color: whitesmoke

}

.addnewmember {
    margin-top: 5px;
    width: 25%;
    height: 30px;
    background-color: whitesmoke
}

.list {
        background: snow
    
}
#members {
    list-style-type: none;
    background-color: snow;
}

#homepage_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 200px;
    width: 200px;
}
#full {
    background:snow;
    text-align: center;
    padding: 70px;
    font-size: 30px;
}
#angry {

}

#details {
    resize: none; 
    max-height : 100px;
}
#image1 {
grid-area: image1;

}

#image2 {
    grid-area: image2;
}

#image3 {
    grid-area: image3;
}

.container {
    display: grid;
    grid-template-areas: "image1 image2 image3";
    
  }
  
.container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    
    
  }