<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="static/gym_style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='gym_style.css') }}">
    <title>GYM HOME</title>
</head>
<body>
<section id="content">
    <header> <h1 data-text="header"><span>GYM LOGO AND NAME HERE</span></h1>

      <nav>
        <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/members">Members</a>
            </li>
            <li>
              <a href="/classes">Classes</a>
            </li>
          </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</section>
</body>
<footer>THE FOOTER GOES HERE</footer>
</html>